@model Category

<form method="post">
    <h1>Create Category</h1>
    <div class="form-group">
        <label asp-for="Name"></label>
        <input class="form-control" asp-for="Name" placeholder="Category Name">
        <span asp-validation-for="Name" class="text-danger"> </span>
    </div>
    <div class="form-group mt-3">
        <label asp-for="DisplayOrder">Display Order</label>
        <input  class="form-control" asp-for="DisplayOrder" placeholder="Display Order">
        <span asp-validation-for="DisplayOrder" class="text-danger"> </span>
    </div>


    <button type="submit" class="btn btn-dark mt-2">Submit</button>
    <a class="btn btn-outline-dark mt-2" asp-controller="Category" asp-action="Index" > Back </a>
</form>