@model Category

<div class="container mt-3">
    <form method="post">
        <h1>Edit Category</h1>
        <div class="form-group">
            <label asp-for="Name"></label>
            <input class="form-control" asp-for="Name" placeholder="Category Name">
            <span asp-validation-for="Name" class="text-danger"> </span>
        </div>
        <div class="form-group mt-3">
            <label asp-for="DisplayOrder">Display Order</label>
            <input class="form-control" asp-for="DisplayOrder" placeholder="Display Order">
            <span asp-validation-for="DisplayOrder" class="text-danger"> </span>
        </div>

        <div class="row mt-3">
            <div class="col-6">

                <button type="submit" class="btn btn-dark mt-2 w-100">Update</button>
            </div>
            <div class="col-6">
                <a class="btn btn-outline-dark mt-2 w-100" asp-controller="Category" asp-action="Index"> Back </a>

            </div>

        </div>
    </form>
</div>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}